In [4]:
import pandas as pd
import pymysql

In [5]:
db_name = 'analytics_db'
db_host = 'localhost'
db_username = 'root'
db_password = 'Mukul@ms30'

In [6]:
try:
    conn=pymysql.connect(host=db_host,port=int(3306),user='root',passwd=db_password,db=db_name)
except e:
    print(e)

In [7]:
query = '''
select * from loans
'''
df = pd.read_sql_query(query,conn)
df

   loan_id  user_id  total_amount_disbursed disbursement_date
0        1        1                    5000        2022-09-02
1        2        2                    6000        2022-09-02
2        3        1                    1000        2022-10-05
3        4        3                   10000        2022-09-02